.imagens-clientes {
    width: 27%;
    padding: 0 1em;
    border-radius: 50px;
}
.imagens-clientes:hover {
    width: 33%;
}
.galeria-clientes {
    width: 940px;
    margin: 1em auto;
}
li {
    text-align: center;
    margin: 0 auto;
}
.titulo-clientes {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin: 20px 0 0 0;
}
