body {
    font-family: 'Roboto', sans-serif;
}
main {
    background: #E0FFFF;
}
.titulo__principal{
    font-size: 24px;
    text-align: center;
    padding: 20px;
    text-decoration-line: underline;
}
.conteudo__main {
    width: 940px;
    margin: 0 auto;
}
main p {
    font-size: 22px;
    text-align: center;
    line-height: 2.0;
}
p strong {
    font-weight: bold;
}
.serviços {
    width: 940px;
    margin: 2rem auto;
}
.servicos__caixa {
    display: flex;
    justify-content: space-between;
}
.servico__lista{
    display: inline-block; 
    width: 45%;
    box-sizing: border-box;    
    border: 2px solid transparent;
    border-radius: 25px;
    vertical-align: top;
    background-color: white;
}
.titulo__serviços {
    font-weight: bold;
    font-size: 22px;
}
.imagem__dogwalker {
    width: 30%;
    border-radius: 30px;
}
.imagem__dogsitter {
    width: 30%;
    border-radius: 30px;
}
.preços__serviços {
    font-weight: bold;
}
.serviços li:hover {
    border-color: cornflowerblue;
}
.serviços li:hover .preços__serviços {
    color: cornflowerblue;
    font-size: 26px;
}
.serviços li:hover .titulo__serviços {
    color: cornflowerblue;
    font-size: 26px;
}
.menu__lista {
    height: 3rem;  
    width: 940px;
    display: flex;
    margin: 0 auto;
    padding: 1rem 0;
}
nav a {
    color: darkblue;
    font-size: 24px;
    text-align: center;
} 
nav a:hover {
    font-weight: bold;
}
    
@media(max-width:768px){
    .titulo__principal {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1.5em;
    }
    .conteudo__main, .serviços, .conteudo__principal--contato {
        width: auto;
        margin: 0 1em;
    }
    .serviços {
        display: block;
    }
    .servicos__caixa {
        flex-direction: column;
    }
    .servico__lista {
        width: 100%;
        margin: 1rem auto;
        padding: 2rem;
    }
    .menu__lista {
        width: auto;
        height: 6rem;
        margin: 0 1rem;
        flex-direction: column;   
        justify-content: space-between;        
    }
    
    nav a {
        align-self: inherit;
        font-size: 1.5rem;
        text-decoration: none;
        
    }
}
