.footer {
    background: linear-gradient(#E0FFFF, #ADD8E6);
    text-align: center;
    font-weight: bold;
}
.footer__titulo {
    font-size: 26px;
    padding: 20px 0;
    display: inline;
}
.footer__descricao {
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
}
.footer h2:before {
    content: "\1F43E  ";
}
.footer h2:after {
    content: " 	\1F43E";
}
.imagem__footer--right {
    width: 70px;
    border-radius: 30px;
    position: absolute;
    vertical-align: top;
    right: 2em;
}
.imagem__footer--left {
    width: 70px;
    border-radius: 30px;
    position: absolute;
    vertical-align: top;
    left: 2em;
}
@media(max-width:768px){
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer__titulo, .footer__descricao {
        font-size: 1.5rem;
        text-align: start;
        margin-left: 2rem;
    }
    .footer__titulo:after {
        content: " 	\1F43E";
    }
    .footer__descricao {
        padding-top: 0;
    }
    .imagem__footer--right {
        width: 3.3rem;
        
    }
    .imagem__footer--left, .footer h2:before, .footer h2:after {
        display: none;
    }   
}